services:
  turtlebot3:
    build: .
    image: saharobotic_bootcamp
    container_name: turtlebot3_ros2
    environment:
      - DISPLAY=${DISPLAY:-:1}
      - QT_X11_NO_MITSHM=1
      - TURTLEBOT3_MODEL=waffle
      - GAZEBO_MODEL_PATH=/opt/ros/humble/share/turtlebot3_gazebo/models:/usr/share/gazebo-11/models
      - MESA_GL_VERSION_OVERRIDE=4.5
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./workspace:/ros2_ws/src/my_packages
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - "${VIDEO_GID:-44}"
      - "${RENDER_GID:-110}"
    network_mode: host
    stdin_open: true
    tty: true
